body {
    margin: auto;
    width: 750px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    padding: 10px 20px;
}

footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;

}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.index-align{
    text-align: center;
}
.curved-input{
    border-radius: 10px;
    font-size: 15px;
    background-image: url('search-icon.png');
    background-position: 5px 7px;
    background-repeat: no-repeat;
    padding-left: 30px;
    width: 400px; 
    height: 30px;
    opacity: 0.4
}
.search-button{
    border: none;
    font-size: 15px;
    padding: 12px 15px;
    text-align: center;
    margin: 3px 0.5px;
    transition-duration: 0.4s;
    background-color: grey;
    color: white;
}
.search-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
